@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|News+Cycle|Open+Sans|Quattrocento+Sans|Raleway&display=swap');

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-links-1,
.navigation-links-2 {
  list-style: none;
  display: flex;
}

.navigation-link-1,
.navigation-link-2 {
  margin: 10px 20px;
}

.header {
  background-image: url('../../assets/sunscreen-cover-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 600px;
}

.product-spotlight {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "brand product-description"
}

.product-spotlight-description {
  text-align: left;
}

.navigation-link-1,
.navigation-link-2,
.brand-name,
.product-spotlight-description {
  color: white;
  font-family: 'Raleway', sans-serif;
}

button {
  padding: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.spotlight-button {
  border: 1px solid white;
  transition: 0.2s;
}

.spotlight-button:hover {
  background-color: #333333;
  border: 1px solid #333333;
}

.button,
.product-type-indicator {
  font-size: .9rem;
  font-weight: bold;
}