.footer {
  background-color: #FFFEF2;
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 6fr 1fr;
  grid-template-areas:
    "email-notification contact-us about social"
    "bottom-border bottom-border bottom-border bottom-border";
  text-align: left;
}

.email-instructions {
  margin-bottom: 60px;
}

.email-notification,
.contact-us,
.about,
.social {
  margin: 16px;
}

.email-address-label {
  visibility: visible;
  opacity: 1;
  padding-left: 5px;
}

.footer-heading {
  font-weight: lighter;
  margin-bottom: 40px;
}

li {
  list-style-type: none;
  font-weight: bolder;
  font-size: 15px;
  margin: 15px 0px;
}

li:hover {
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

.email-input {
  background-color: transparent;
  border: none;
  padding: 0px 10px 5px 5px;
  border-bottom: 1px solid #c6c6c6;
  font-size: 24px;
  width: 85%;
  margin-top: 8px;
  cursor: text;
}

.email-input:focus {
  outline: none;
}

.email-input:invalid {
  color: #EA6956;
}

.email-input:valid {
  color: #007f00;
}

input {
  transition: all 0.2s;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.bottom-border {
  display: flex;
  justify-content: space-between;
  background-color: #252525;
}

.bottom-border-text {
  color: #CCCCCC;
  width: 100%;
}